fastapi
uvicorn[standard]
pandas
matplotlib
scikit-learn
prophet
python-multipart
psycopg2-binary
sqlalchemy
passlib[bcrypt]
python-jose[cryptography]
faiss-cpu
sentence-transformers
openai>=1.0.0
python-dotenv
pydantic
pytz